.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.main {
	position: relative;
	width: 100%;
}

.top {
	width: 100%;
	height: $top-height;
	background: url(layout/home-back.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	.lens {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $top-height;		
		background-color: #000000;
		opacity: 0.4;
		z-index: 1;
	}
	.content {
		width: calc(100% - 15vh);
		height: calc(100% - 15vh);
		border: 2px solid #FFFFFF;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: #FFFFFF;
		padding-right: $bigger-gap;
		z-index: 2;
		img {
			width: 225px;
			background-color: $extra-color;
			border-radius: 100%;
		}
		.text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: $big-gap;
			.title-brand {
				font-size: $biggest-font-size;
				border-bottom: $social-icon-border-width solid #FFFFFF;
				margin-bottom: $small-gap;
				padding-bottom: $small-gap;
			}
			.text-brand {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

.products {
	width: 100%;
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.product {
			width: 24%;
			margin: $gap;
			display: flex;
			flex-wrap: wrap;
			background-color: red;
			.product-element {
				width: 100%;
			}
			.image {
				height: 200px;
				position: relative;
				img {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.price {
				height: 50px;
			}
			.buttons {
				height: 30px;
			}
		}
	}
}