header {
	width: 100%;
	.content {
		height: 10vh;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	a {
		text-decoration: none;
		color: $main-color;
	}
}

.logo {
	a {
		display: flex;
		align-items: center;
	}
	img {
		width: 50px;
		margin: 5px;
		background-color: $extra-color;
		border-radius: 100%;
	}
}

nav {
    font-family: $main-font;
    font-weight: $font-weight;
    letter-spacing: 1px;
	text-transform: uppercase;
	.menu-item {
		padding: 10px;
	}
}

.mobile {
	display: none;
}
