// -------------------------- */
// -------- COLOURS --------- */
// -------------------------- */
$main-color: #000000;
$bg-color: #FFFFFF;
$extra-color: #CE4257;
$extra-color1: #FF9B54;
$extra-color2: #00A7E1;

$black: #000000;
$white: #FFFFFF;
$dark-gray: #1f1f1f;
$gray: #818181;
$gray-rgba: rgba(25,25,25,0.5);
$light-gray: #CCCCCC;
$lighter-gray: #EEEEEE;

$facebook-color: #43609C;
$twitter-color: #5EA9DD;
$google-color: #DF5138;
$instagram-color: #fcaf45;

$gray-e: #EEEEEE;
$gray-d: #DDDDDD;
$gray-c: #CCCCCC;
$gray-b: #BBBBBB;
$gray-a: #AAAAAA;
$gray-9: #999999;
$gray-8: #888888;
$gray-7: #777777;
$gray-6: #666666;
$gray-5: #555555;
$gray-4: #444444;
$gray-3: #333333;
$gray-2: #222222;
$gray-1: #111111;
// -------------------------- */
