// -------------------------- */
// ----- NEO VARIABLES ------ */
// -------------------------- */

// GAPS
$tiny-gap: 5px;
$small-gap: 10px;
$gap: 20px;
$big-gap: 50px;
$bigger-gap: 75px;
$biggest-gap: 100px;

// FONT
    // FONT SIZES
$biggest-font-size: 3em;
$bigger-font-size: 2em;
$big-font-size: 1.6em;
$medium-font-size: 1.2em;
$font-size: 14px;
$small-font-size: .9em;
$tiny-font-size: .8em;
    // FONT WEIGHTS
$font-weight: 400;
$font-weight-bold: 900;
    //LINE HEIGHTS
$line-height: 1.2em;
$big-line-height: 1.5em;
    // FONT TYPES
$light-font: $light;
$medium-font: $medium;
$bold-font: $bold;
$main-font: $light;
$titles-font: $bold;

// SOCIAL
$social-icon-size: 30px;
$social-icon-border-width: 2.5px;

// HEADER
    // HEADER HEIGHT
$header-height: 70px;
$header-responsive-height: 70px;
    // LOGO SIZE
$logo-width: 50px;
$logo-fixed-width: 50px;
$logo-responsive-width: 50px;

// TOP
$top-height: 600px;
$top-tablet-height: 300px;

// FOOTER
$logo-footer-width: 100px;

// CONTENT
$content-max-width: 1200px;
// -------------------------- */
